aiohappyeyeballs
aiohttp
aiosignal
altair
anyio
argon2-cffi
arrow
astroid
asttokens
async-lru
attrs
autopep8
babel
beautifulsoup4
bleach
blinker
catboost
category-encoders
cffi
chardet
charset-normalizer
click
colorama
comm
contourpy
cssselect
cycler
datasist
debugpy
decorator
defusedxml
dicttoxml
dill
docutils
executing
fastjsonschema
fqdn
frozenlist
future
geocoder
geographiclib
geoip2
geopy
gitdb
graphviz
h11
httpcore
httpx
idna
imbalanced-learn
ip2geotools
IP2Location
ipykernel
ipython
ipywidgets
isoduration
isort
jaraco.classes
jaraco.context
jaraco.functools
jedi
Jinja2
json5
jsonpointer
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keyring
kiwisolver
lazy-object-proxy
lightgbm
lxml
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
maxminddb
mccabe
mdurl
mistune
mlxtend
more-itertools
multidict
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
notebook_shim
numexpr
openpyxl
overrides
packaging
pandas
pandocfilters
parso
patsy
pip-review
pkginfo
platformdirs
plotly
prometheus_client
prompt_toolkit
propcache
psutil
pure_eval
pycodestyle
pycparser
pydeck
Pygments
pylint
pyparsing
PyQt6
pyquery
python-dateutil
python-json-logger
pytz
pywin32
pywin32-ctypes
pywinpty
PyYAML
pyzmq
ratelim
readme_renderer
regex
requests-toolbelt
rfc3339-validator
rfc3986
rfc3986-validator
rich
scipy
seaborn
selenium
Send2Trash
setuptools
six
smmap
sortedcontainers
soupsieve
stack-data
statsmodels
streamlit
tenacity
terminado
threadpoolctl
tinycss2
toml
tornado
tqdm
traitlets
trio
trio-websocket
twine
typed_ast
types-python-dateutil
typing_extensions
ua-parser-builtins
unicodedata2
uri-template
urllib3
user-agents
watchdog
wcwidth
webcolors
webencodings
websocket-client
wheel
widgetsnbextension
wrapt
wsproto
xgboost
yarl
zipp
